<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Election Results</title>
    <link rel="shortcut icon" href="" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css"></link>

</head>
<body>
    <header>
        <nav>
            <div>

            </div>
            <div class="title">
                Re-Election Results vs. Initial Housing Starts
            </div>
            <span>
                <a href="http://github.com/eric38383/elect-and-starts">
                    <img class='github' src="/images/Octocat.jpg">
                </a>
            </span>
        </nav>
    </header>
    <div class='hero-container'>
        <div class='current-data'>
           
        </div>
    </div>
    <div class='container'>
        <section class='results'>
            <div class='synopsis'>
                <h2>Will Donald Trump Win Re-Election In 2020?</h2>
                <h5>January 20, 2019</h5>
                <p>
                    From 1959, the U.S. Census Bureau together with the U.S. Department of Housing & Urban Developerment have reported one of the foremost leading indicators of ecomonic health called the New Residental Construction report. Commonly known as "Housing Starts", this monthly data is derived from surveys of homebuilders nationwide.
                </p>
                <p>
                    During this time period, 9 sitting presidents have ran for re-election, including two presidents who took over in the middle of a presidential term. A president who is running for re-election is often motivated to improve the economy by any means necessary. The President is often credited with any economic improvement, regardless whether he had anything to do with it. 
                </p>
                <p>
                    The author of this website believes that housing starts are the best indicator of the state of the economy and that they can accurately predict the election. 
                </p>
                <p>
                    The Presidential data compares housing starts at the time the Presidential term began in January against housing starts in November of the president's re-election. In all 9 cases, when housing starts were higher, the President won re-election. The other remaining times, when housing starts were lower, the President lost re-election.
                </p>
                <h5>Notes</h5>
                <p>
                    While housing starts can be a good barometer about how voters feel about the economy (with their wallet), the author concedes that the following correlation could be merely a coincidence. The author also compared housing starts at the year the Presidential term began against housing starts in the final year of the president's term. 8 of the 9 re-election bids had the same results. The exception being Gerald Ford's re-election bid, which was heavely influenced by Nixon's impeachment in 1974.
                </p>
                <h5>Description of Data</h5>
                <p>
                    A housing start is defined as the beginning foundation of the home itself and the data represents new, privately-owned housing units, excluding "HUD-code" manufactured (mobile) homes.
                </p>
                <h5>Sources</h5>
                <p class="sources">
                        1. U.S. Bureau of the Census and U.S. Department of Housing and Urban Development, Housing Starts: Total: New Privately Owned Housing Units Started [HOUST], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/HOUST.
                </p>
            </div>
             <div class="president-content">
            
            
            </div>
        </section>
    </div>
    <script>
        const data = <%= @data.to_json %>
    </script>
    <script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>